GOOGLE_SCRIPT_URL=deployed_google_script_url
GOOGLE_SCRIPT_SECRET=long_random_secret_shared_with_apps_script
APCA_API_KEY_ID=your_alpaca_key_id
APCA_API_SECRET_KEY=your_alpaca_secret_key
ALPACA_PAPER=true
APCA_API_BASE_URL=https://paper-api.alpaca.markets
